sEsc WAVE "Sounds\cherrymx-brown-abs\Esc.WAV"
eEsc RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sF1 WAVE "Sounds\cherrymx-brown-abs\F1.WAV"
eF1 RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sF2 WAVE "Sounds\cherrymx-brown-abs\F2.WAV"
eF2 RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sF3 WAVE "Sounds\cherrymx-brown-abs\F3.WAV"
eF3 RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sF4 WAVE "Sounds\cherrymx-brown-abs\F4.WAV"
eF4 RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sF5 WAVE "Sounds\cherrymx-brown-abs\F5.WAV"
eF5 RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sF6 WAVE "Sounds\cherrymx-brown-abs\F6.WAV"
eF6 RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sF7 WAVE "Sounds\cherrymx-brown-abs\F7.WAV"
eF7 RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sF8 WAVE "Sounds\cherrymx-brown-abs\F8.WAV"
eF8 RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sF9 WAVE "Sounds\cherrymx-brown-abs\F9.WAV"
eF9 RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sF10 WAVE "Sounds\cherrymx-brown-abs\F10.WAV"
eF10 RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sF11 WAVE "Sounds\cherrymx-brown-abs\F11.WAV"
eF11 RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sF12 WAVE "Sounds\cherrymx-brown-abs\F12.WAV"
eF12 RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sScroll_Lock WAVE "Sounds\cherrymx-brown-abs\].WAV"
eScroll_Lock RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sPause_Break WAVE "Sounds\cherrymx-brown-abs\[.WAV"
ePause_Break RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
s1 WAVE "Sounds\cherrymx-brown-abs\1.WAV"
e1 RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
s2 WAVE "Sounds\cherrymx-brown-abs\2.WAV"
e2 RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
s3 WAVE "Sounds\cherrymx-brown-abs\3.WAV"
e3 RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
s4 WAVE "Sounds\cherrymx-brown-abs\4.WAV"
e4 RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
s5 WAVE "Sounds\cherrymx-brown-abs\5.WAV"
e5 RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
s6 WAVE "Sounds\cherrymx-brown-abs\6.WAV"
e6 RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
s7 WAVE "Sounds\cherrymx-brown-abs\7.WAV"
e7 RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
s8 WAVE "Sounds\cherrymx-brown-abs\8.WAV"
e8 RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
s9 WAVE "Sounds\cherrymx-brown-abs\9.WAV"
e9 RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
s0 WAVE "Sounds\cherrymx-brown-abs\0.WAV"
e0 RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sBackspace WAVE "Sounds\cherrymx-brown-abs\Backspace.WAV"
eBackspace RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sInsert WAVE "Sounds\cherrymx-brown-abs\Insert.WAV"
eInsert RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sHome WAVE "Sounds\cherrymx-brown-abs\Home.WAV"
eHome RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sPage_Up WAVE "Sounds\cherrymx-brown-abs\Page Up.WAV"
ePage_Up RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sTab WAVE "Sounds\cherrymx-brown-abs\Tab.WAV"
eTab RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sQ WAVE "Sounds\cherrymx-brown-abs\Q.WAV"
eQ RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sW WAVE "Sounds\cherrymx-brown-abs\W.WAV"
eW RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sE WAVE "Sounds\cherrymx-brown-abs\E.WAV"
eE RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sR WAVE "Sounds\cherrymx-brown-abs\R.WAV"
eR RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sT WAVE "Sounds\cherrymx-brown-abs\T.WAV"
eT RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sY WAVE "Sounds\cherrymx-brown-abs\Y.WAV"
eY RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sU WAVE "Sounds\cherrymx-brown-abs\U.WAV"
eU RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sI WAVE "Sounds\cherrymx-brown-abs\I.WAV"
eI RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sO WAVE "Sounds\cherrymx-brown-abs\O.WAV"
eO RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sP WAVE "Sounds\cherrymx-brown-abs\P.WAV"
eP RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sDelete WAVE "Sounds\cherrymx-brown-abs\Delete.WAV"
eDelete RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sEnd WAVE "Sounds\cherrymx-brown-abs\End.WAV"
eEnd RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sPage_Down WAVE "Sounds\cherrymx-brown-abs\Page Down.WAV"
ePage_Down RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sLEnter WAVE "Sounds\cherrymx-brown-abs\LEnter.WAV"
eLEnter RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sCaps_Lock WAVE "Sounds\cherrymx-brown-abs\Caps Lock.WAV"
eCaps_Lock RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sA WAVE "Sounds\cherrymx-brown-abs\A.WAV"
eA RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sS WAVE "Sounds\cherrymx-brown-abs\S.WAV"
eS RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sD WAVE "Sounds\cherrymx-brown-abs\D.WAV"
eD RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sF WAVE "Sounds\cherrymx-brown-abs\F.WAV"
eF RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sG WAVE "Sounds\cherrymx-brown-abs\G.WAV"
eG RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sH WAVE "Sounds\cherrymx-brown-abs\H.WAV"
eH RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sJ WAVE "Sounds\cherrymx-brown-abs\J.WAV"
eJ RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sK WAVE "Sounds\cherrymx-brown-abs\K.WAV"
eK RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sL WAVE "Sounds\cherrymx-brown-abs\L.WAV"
eL RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sLShift WAVE "Sounds\cherrymx-brown-abs\LShift.WAV"
eLShift RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sZ WAVE "Sounds\cherrymx-brown-abs\Z.WAV"
eZ RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sX WAVE "Sounds\cherrymx-brown-abs\X.WAV"
eX RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sC WAVE "Sounds\cherrymx-brown-abs\C.WAV"
eC RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sV WAVE "Sounds\cherrymx-brown-abs\V.WAV"
eV RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sB WAVE "Sounds\cherrymx-brown-abs\B.WAV"
eB RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sN WAVE "Sounds\cherrymx-brown-abs\N.WAV"
eN RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sM WAVE "Sounds\cherrymx-brown-abs\M.WAV"
eM RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sRShift WAVE "Sounds\cherrymx-brown-abs\RShift.WAV"
eRShift RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sUp WAVE "Sounds\cherrymx-brown-abs\Up.WAV"
eUp RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sLCtrl WAVE "Sounds\cherrymx-brown-abs\LCtrl.WAV"
eLCtrl RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sLStart WAVE "Sounds\cherrymx-brown-abs\LStart.WAV"
eLStart RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sLAlt WAVE "Sounds\cherrymx-brown-abs\LAlt.WAV"
eLAlt RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sSpace WAVE "Sounds\cherrymx-brown-abs\Space.WAV"
eSpace RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sRAlt WAVE "Sounds\cherrymx-brown-abs\LAlt.WAV"
eRAlt RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sRStart WAVE "Sounds\cherrymx-brown-abs\LStart.WAV"
eRStart RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sMenu WAVE "Sounds\cherrymx-brown-abs\Menu.WAV"
eMenu RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sRCtrl WAVE "Sounds\cherrymx-brown-abs\RCtrl.WAV"
eRCtrl RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sLeft WAVE "Sounds\cherrymx-brown-abs\Left.WAV"
eLeft RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sDown WAVE "Sounds\cherrymx-brown-abs\Down.WAV"
eDown RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sRight WAVE "Sounds\cherrymx-brown-abs\Right.WAV"
eRight RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sNum_Lock WAVE "Sounds\cherrymx-brown-abs\Num Lock.WAV"
eNum_Lock RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sNum7 WAVE "Sounds\cherrymx-brown-abs\Num7.WAV"
eNum7 RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sNum8 WAVE "Sounds\cherrymx-brown-abs\Num8.WAV"
eNum8 RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sNum9 WAVE "Sounds\cherrymx-brown-abs\Num9.WAV"
eNum9 RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sNum4 WAVE "Sounds\cherrymx-brown-abs\Num4.WAV"
eNum4 RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sNum5 WAVE "Sounds\cherrymx-brown-abs\Num5.WAV"
eNum5 RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sNum6 WAVE "Sounds\cherrymx-brown-abs\Num6.WAV"
eNum6 RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sNum1 WAVE "Sounds\cherrymx-brown-abs\Num1.WAV"
eNum1 RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sNum2 WAVE "Sounds\cherrymx-brown-abs\Num2.WAV"
eNum2 RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sNum3 WAVE "Sounds\cherrymx-brown-abs\Num3.WAV"
eNum3 RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sNum0 WAVE "Sounds\cherrymx-brown-abs\Num0.WAV"
eNum0 RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
sREnter WAVE "Sounds\cherrymx-brown-abs\REnter.WAV"
eREnter RCDATA "Sounds\cherrymx-brown-abs\=.WAV"
remain WAVE "Sounds\cherrymx-brown-abs\rem.WAV"
