sBackspace WAVE "Sounds\nk-cream\Backspace.WAV"
eBackspace RCDATA "Sounds\nk-cream\[.WAV"
sTab WAVE "Sounds\nk-cream\Tab.WAV"
eTab RCDATA "Sounds\nk-cream\[.WAV"
sQ WAVE "Sounds\nk-cream\Q.WAV"
eQ RCDATA "Sounds\nk-cream\[.WAV"
sW WAVE "Sounds\nk-cream\W.WAV"
eW RCDATA "Sounds\nk-cream\[.WAV"
sE WAVE "Sounds\nk-cream\E.WAV"
eE RCDATA "Sounds\nk-cream\[.WAV"
sR WAVE "Sounds\nk-cream\R.WAV"
eR RCDATA "Sounds\nk-cream\[.WAV"
sT WAVE "Sounds\nk-cream\T.WAV"
eT RCDATA "Sounds\nk-cream\[.WAV"
sY WAVE "Sounds\nk-cream\Y.WAV"
eY RCDATA "Sounds\nk-cream\[.WAV"
sU WAVE "Sounds\nk-cream\U.WAV"
eU RCDATA "Sounds\nk-cream\[.WAV"
sI WAVE "Sounds\nk-cream\I.WAV"
eI RCDATA "Sounds\nk-cream\[.WAV"
sO WAVE "Sounds\nk-cream\O.WAV"
eO RCDATA "Sounds\nk-cream\[.WAV"
sP WAVE "Sounds\nk-cream\P.WAV"
eP RCDATA "Sounds\nk-cream\[.WAV"
sLEnter WAVE "Sounds\nk-cream\Enter.WAV"
eLEnter RCDATA "Sounds\nk-cream\[.WAV"
sCaps_Lock WAVE "Sounds\nk-cream\Caps Lock.WAV"
eCaps_Lock RCDATA "Sounds\nk-cream\[.WAV"
sA WAVE "Sounds\nk-cream\A.WAV"
eA RCDATA "Sounds\nk-cream\[.WAV"
sS WAVE "Sounds\nk-cream\S.WAV"
eS RCDATA "Sounds\nk-cream\[.WAV"
sD WAVE "Sounds\nk-cream\D.WAV"
eD RCDATA "Sounds\nk-cream\[.WAV"
sF WAVE "Sounds\nk-cream\F.WAV"
eF RCDATA "Sounds\nk-cream\[.WAV"
sG WAVE "Sounds\nk-cream\G.WAV"
eG RCDATA "Sounds\nk-cream\[.WAV"
sH WAVE "Sounds\nk-cream\H.WAV"
eH RCDATA "Sounds\nk-cream\[.WAV"
sJ WAVE "Sounds\nk-cream\J.WAV"
eJ RCDATA "Sounds\nk-cream\[.WAV"
sK WAVE "Sounds\nk-cream\K.WAV"
eK RCDATA "Sounds\nk-cream\[.WAV"
sL WAVE "Sounds\nk-cream\L.WAV"
eL RCDATA "Sounds\nk-cream\[.WAV"
sLShift WAVE "Sounds\nk-cream\Shift.WAV"
eLShift RCDATA "Sounds\nk-cream\[.WAV"
sZ WAVE "Sounds\nk-cream\Z.WAV"
eZ RCDATA "Sounds\nk-cream\[.WAV"
sX WAVE "Sounds\nk-cream\X.WAV"
eX RCDATA "Sounds\nk-cream\[.WAV"
sC WAVE "Sounds\nk-cream\C.WAV"
eC RCDATA "Sounds\nk-cream\[.WAV"
sV WAVE "Sounds\nk-cream\V.WAV"
eV RCDATA "Sounds\nk-cream\[.WAV"
sB WAVE "Sounds\nk-cream\B.WAV"
eB RCDATA "Sounds\nk-cream\[.WAV"
sN WAVE "Sounds\nk-cream\N.WAV"
eN RCDATA "Sounds\nk-cream\[.WAV"
sM WAVE "Sounds\nk-cream\M.WAV"
eM RCDATA "Sounds\nk-cream\[.WAV"
sRShift WAVE "Sounds\nk-cream\Shift.WAV"
eRShift RCDATA "Sounds\nk-cream\[.WAV"
sSpace WAVE "Sounds\nk-cream\Space.WAV"
eSpace RCDATA "Sounds\nk-cream\[.WAV"
sREnter WAVE "Sounds\nk-cream\Enter.WAV"
eREnter RCDATA "Sounds\nk-cream\[.WAV"
remain WAVE "Sounds\nk-cream\w.WAV"
