sF1 WAVE "Sounds\topre-purple-hybrid-pbt\F1.WAV"
eF1 RCDATA "Sounds\topre-purple-hybrid-pbt\1.WAV"
sF2 WAVE "Sounds\topre-purple-hybrid-pbt\F2.WAV"
eF2 RCDATA "Sounds\topre-purple-hybrid-pbt\1.WAV"
sF3 WAVE "Sounds\topre-purple-hybrid-pbt\F3.WAV"
eF3 RCDATA "Sounds\topre-purple-hybrid-pbt\1.WAV"
sF4 WAVE "Sounds\topre-purple-hybrid-pbt\F4.WAV"
eF4 RCDATA "Sounds\topre-purple-hybrid-pbt\1.WAV"
sF5 WAVE "Sounds\topre-purple-hybrid-pbt\F5.WAV"
eF5 RCDATA "Sounds\topre-purple-hybrid-pbt\1.WAV"
sF6 WAVE "Sounds\topre-purple-hybrid-pbt\F6.WAV"
eF6 RCDATA "Sounds\topre-purple-hybrid-pbt\1.WAV"
sF7 WAVE "Sounds\topre-purple-hybrid-pbt\F7.WAV"
eF7 RCDATA "Sounds\topre-purple-hybrid-pbt\1.WAV"
sF8 WAVE "Sounds\topre-purple-hybrid-pbt\F8.WAV"
eF8 RCDATA "Sounds\topre-purple-hybrid-pbt\1.WAV"
sF9 WAVE "Sounds\topre-purple-hybrid-pbt\F9.WAV"
eF9 RCDATA "Sounds\topre-purple-hybrid-pbt\1.WAV"
sF10 WAVE "Sounds\topre-purple-hybrid-pbt\F10.WAV"
eF10 RCDATA "Sounds\topre-purple-hybrid-pbt\1.WAV"
sF11 WAVE "Sounds\topre-purple-hybrid-pbt\F11.WAV"
eF11 RCDATA "Sounds\topre-purple-hybrid-pbt\1.WAV"
sF12 WAVE "Sounds\topre-purple-hybrid-pbt\F12.WAV"
eF12 RCDATA "Sounds\topre-purple-hybrid-pbt\1.WAV"
s1 WAVE "Sounds\topre-purple-hybrid-pbt\1.WAV"
e1 RCDATA "Sounds\topre-purple-hybrid-pbt\1.WAV"
s2 WAVE "Sounds\topre-purple-hybrid-pbt\2.WAV"
e2 RCDATA "Sounds\topre-purple-hybrid-pbt\1.WAV"
s3 WAVE "Sounds\topre-purple-hybrid-pbt\3.WAV"
e3 RCDATA "Sounds\topre-purple-hybrid-pbt\1.WAV"
s4 WAVE "Sounds\topre-purple-hybrid-pbt\4.WAV"
e4 RCDATA "Sounds\topre-purple-hybrid-pbt\1.WAV"
s5 WAVE "Sounds\topre-purple-hybrid-pbt\5.WAV"
e5 RCDATA "Sounds\topre-purple-hybrid-pbt\1.WAV"
s6 WAVE "Sounds\topre-purple-hybrid-pbt\6.WAV"
e6 RCDATA "Sounds\topre-purple-hybrid-pbt\1.WAV"
s7 WAVE "Sounds\topre-purple-hybrid-pbt\7.WAV"
e7 RCDATA "Sounds\topre-purple-hybrid-pbt\1.WAV"
s8 WAVE "Sounds\topre-purple-hybrid-pbt\8.WAV"
e8 RCDATA "Sounds\topre-purple-hybrid-pbt\1.WAV"
s9 WAVE "Sounds\topre-purple-hybrid-pbt\9.WAV"
e9 RCDATA "Sounds\topre-purple-hybrid-pbt\1.WAV"
s0 WAVE "Sounds\topre-purple-hybrid-pbt\0.WAV"
e0 RCDATA "Sounds\topre-purple-hybrid-pbt\1.WAV"
sLEnter WAVE "Sounds\topre-purple-hybrid-pbt\Enter.WAV"
eLEnter RCDATA "Sounds\topre-purple-hybrid-pbt\1.WAV"
sLShift WAVE "Sounds\topre-purple-hybrid-pbt\Shift.WAV"
eLShift RCDATA "Sounds\topre-purple-hybrid-pbt\1.WAV"
sRShift WAVE "Sounds\topre-purple-hybrid-pbt\Shift.WAV"
eRShift RCDATA "Sounds\topre-purple-hybrid-pbt\1.WAV"
sSpace WAVE "Sounds\topre-purple-hybrid-pbt\Space.WAV"
eSpace RCDATA "Sounds\topre-purple-hybrid-pbt\1.WAV"
sNum7 WAVE "Sounds\topre-purple-hybrid-pbt\Num7.WAV"
eNum7 RCDATA "Sounds\topre-purple-hybrid-pbt\1.WAV"
sNum8 WAVE "Sounds\topre-purple-hybrid-pbt\Num8.WAV"
eNum8 RCDATA "Sounds\topre-purple-hybrid-pbt\1.WAV"
sNum9 WAVE "Sounds\topre-purple-hybrid-pbt\Num9.WAV"
eNum9 RCDATA "Sounds\topre-purple-hybrid-pbt\1.WAV"
sNum4 WAVE "Sounds\topre-purple-hybrid-pbt\Num4.WAV"
eNum4 RCDATA "Sounds\topre-purple-hybrid-pbt\1.WAV"
sNum5 WAVE "Sounds\topre-purple-hybrid-pbt\Num5.WAV"
eNum5 RCDATA "Sounds\topre-purple-hybrid-pbt\1.WAV"
sNum6 WAVE "Sounds\topre-purple-hybrid-pbt\Num6.WAV"
eNum6 RCDATA "Sounds\topre-purple-hybrid-pbt\1.WAV"
sNum1 WAVE "Sounds\topre-purple-hybrid-pbt\Num1.WAV"
eNum1 RCDATA "Sounds\topre-purple-hybrid-pbt\1.WAV"
sNum2 WAVE "Sounds\topre-purple-hybrid-pbt\Num2.WAV"
eNum2 RCDATA "Sounds\topre-purple-hybrid-pbt\1.WAV"
sNum3 WAVE "Sounds\topre-purple-hybrid-pbt\Num3.WAV"
eNum3 RCDATA "Sounds\topre-purple-hybrid-pbt\1.WAV"
sNum0 WAVE "Sounds\topre-purple-hybrid-pbt\Num0.WAV"
eNum0 RCDATA "Sounds\topre-purple-hybrid-pbt\1.WAV"
sREnter WAVE "Sounds\topre-purple-hybrid-pbt\Enter.WAV"
eREnter RCDATA "Sounds\topre-purple-hybrid-pbt\1.WAV"
remain WAVE "Sounds\topre-purple-hybrid-pbt\rem.WAV"
