sEsc WAVE "Sounds\cherrymx-black-pbt\Esc.WAV"
eEsc RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sF1 WAVE "Sounds\cherrymx-black-pbt\F1.WAV"
eF1 RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sF2 WAVE "Sounds\cherrymx-black-pbt\F2.WAV"
eF2 RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sF3 WAVE "Sounds\cherrymx-black-pbt\F3.WAV"
eF3 RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sF4 WAVE "Sounds\cherrymx-black-pbt\F4.WAV"
eF4 RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sF5 WAVE "Sounds\cherrymx-black-pbt\F5.WAV"
eF5 RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sF6 WAVE "Sounds\cherrymx-black-pbt\F6.WAV"
eF6 RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sF7 WAVE "Sounds\cherrymx-black-pbt\F7.WAV"
eF7 RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sF8 WAVE "Sounds\cherrymx-black-pbt\F8.WAV"
eF8 RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sF9 WAVE "Sounds\cherrymx-black-pbt\F9.WAV"
eF9 RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sF10 WAVE "Sounds\cherrymx-black-pbt\F10.WAV"
eF10 RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sF11 WAVE "Sounds\cherrymx-black-pbt\F11.WAV"
eF11 RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sF12 WAVE "Sounds\cherrymx-black-pbt\F12.WAV"
eF12 RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sScroll_Lock WAVE "Sounds\cherrymx-black-pbt\].WAV"
eScroll_Lock RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sPause_Break WAVE "Sounds\cherrymx-black-pbt\[.WAV"
ePause_Break RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
s1 WAVE "Sounds\cherrymx-black-pbt\1.WAV"
e1 RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
s2 WAVE "Sounds\cherrymx-black-pbt\2.WAV"
e2 RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
s3 WAVE "Sounds\cherrymx-black-pbt\3.WAV"
e3 RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
s4 WAVE "Sounds\cherrymx-black-pbt\4.WAV"
e4 RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
s5 WAVE "Sounds\cherrymx-black-pbt\5.WAV"
e5 RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
s6 WAVE "Sounds\cherrymx-black-pbt\6.WAV"
e6 RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
s7 WAVE "Sounds\cherrymx-black-pbt\7.WAV"
e7 RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
s8 WAVE "Sounds\cherrymx-black-pbt\8.WAV"
e8 RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
s9 WAVE "Sounds\cherrymx-black-pbt\9.WAV"
e9 RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
s0 WAVE "Sounds\cherrymx-black-pbt\0.WAV"
e0 RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sBackspace WAVE "Sounds\cherrymx-black-pbt\Backspace.WAV"
eBackspace RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sInsert WAVE "Sounds\cherrymx-black-pbt\Insert.WAV"
eInsert RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sHome WAVE "Sounds\cherrymx-black-pbt\Home.WAV"
eHome RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sPage_Up WAVE "Sounds\cherrymx-black-pbt\Page Up.WAV"
ePage_Up RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sTab WAVE "Sounds\cherrymx-black-pbt\Tab.WAV"
eTab RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sQ WAVE "Sounds\cherrymx-black-pbt\Q.WAV"
eQ RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sW WAVE "Sounds\cherrymx-black-pbt\W.WAV"
eW RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sE WAVE "Sounds\cherrymx-black-pbt\E.WAV"
eE RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sR WAVE "Sounds\cherrymx-black-pbt\R.WAV"
eR RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sT WAVE "Sounds\cherrymx-black-pbt\T.WAV"
eT RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sY WAVE "Sounds\cherrymx-black-pbt\Y.WAV"
eY RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sU WAVE "Sounds\cherrymx-black-pbt\U.WAV"
eU RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sI WAVE "Sounds\cherrymx-black-pbt\I.WAV"
eI RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sO WAVE "Sounds\cherrymx-black-pbt\O.WAV"
eO RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sP WAVE "Sounds\cherrymx-black-pbt\P.WAV"
eP RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sDelete WAVE "Sounds\cherrymx-black-pbt\Delete.WAV"
eDelete RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sEnd WAVE "Sounds\cherrymx-black-pbt\End.WAV"
eEnd RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sPage_Down WAVE "Sounds\cherrymx-black-pbt\Page Down.WAV"
ePage_Down RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sLEnter WAVE "Sounds\cherrymx-black-pbt\LEnter.WAV"
eLEnter RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sCaps_Lock WAVE "Sounds\cherrymx-black-pbt\Caps Lock.WAV"
eCaps_Lock RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sA WAVE "Sounds\cherrymx-black-pbt\A.WAV"
eA RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sS WAVE "Sounds\cherrymx-black-pbt\S.WAV"
eS RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sD WAVE "Sounds\cherrymx-black-pbt\D.WAV"
eD RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sF WAVE "Sounds\cherrymx-black-pbt\F.WAV"
eF RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sG WAVE "Sounds\cherrymx-black-pbt\G.WAV"
eG RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sH WAVE "Sounds\cherrymx-black-pbt\H.WAV"
eH RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sJ WAVE "Sounds\cherrymx-black-pbt\J.WAV"
eJ RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sK WAVE "Sounds\cherrymx-black-pbt\K.WAV"
eK RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sL WAVE "Sounds\cherrymx-black-pbt\L.WAV"
eL RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sLShift WAVE "Sounds\cherrymx-black-pbt\LShift.WAV"
eLShift RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sZ WAVE "Sounds\cherrymx-black-pbt\Z.WAV"
eZ RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sX WAVE "Sounds\cherrymx-black-pbt\X.WAV"
eX RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sC WAVE "Sounds\cherrymx-black-pbt\C.WAV"
eC RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sV WAVE "Sounds\cherrymx-black-pbt\V.WAV"
eV RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sB WAVE "Sounds\cherrymx-black-pbt\B.WAV"
eB RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sN WAVE "Sounds\cherrymx-black-pbt\N.WAV"
eN RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sM WAVE "Sounds\cherrymx-black-pbt\M.WAV"
eM RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sRShift WAVE "Sounds\cherrymx-black-pbt\RShift.WAV"
eRShift RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sUp WAVE "Sounds\cherrymx-black-pbt\Up.WAV"
eUp RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sLCtrl WAVE "Sounds\cherrymx-black-pbt\LCtrl.WAV"
eLCtrl RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sLStart WAVE "Sounds\cherrymx-black-pbt\LStart.WAV"
eLStart RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sLAlt WAVE "Sounds\cherrymx-black-pbt\LAlt.WAV"
eLAlt RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sSpace WAVE "Sounds\cherrymx-black-pbt\Space.WAV"
eSpace RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sRAlt WAVE "Sounds\cherrymx-black-pbt\LAlt.WAV"
eRAlt RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sRStart WAVE "Sounds\cherrymx-black-pbt\LStart.WAV"
eRStart RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sMenu WAVE "Sounds\cherrymx-black-pbt\Menu.WAV"
eMenu RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sRCtrl WAVE "Sounds\cherrymx-black-pbt\RCtrl.WAV"
eRCtrl RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sLeft WAVE "Sounds\cherrymx-black-pbt\Left.WAV"
eLeft RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sDown WAVE "Sounds\cherrymx-black-pbt\Down.WAV"
eDown RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sRight WAVE "Sounds\cherrymx-black-pbt\Right.WAV"
eRight RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sNum_Lock WAVE "Sounds\cherrymx-black-pbt\Num Lock.WAV"
eNum_Lock RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sNum7 WAVE "Sounds\cherrymx-black-pbt\Num7.WAV"
eNum7 RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sNum8 WAVE "Sounds\cherrymx-black-pbt\Num8.WAV"
eNum8 RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sNum9 WAVE "Sounds\cherrymx-black-pbt\Num9.WAV"
eNum9 RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sNum4 WAVE "Sounds\cherrymx-black-pbt\Num4.WAV"
eNum4 RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sNum5 WAVE "Sounds\cherrymx-black-pbt\Num5.WAV"
eNum5 RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sNum6 WAVE "Sounds\cherrymx-black-pbt\Num6.WAV"
eNum6 RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sNum1 WAVE "Sounds\cherrymx-black-pbt\Num1.WAV"
eNum1 RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sNum2 WAVE "Sounds\cherrymx-black-pbt\Num2.WAV"
eNum2 RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sNum3 WAVE "Sounds\cherrymx-black-pbt\Num3.WAV"
eNum3 RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sNum0 WAVE "Sounds\cherrymx-black-pbt\Num0.WAV"
eNum0 RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
sREnter WAVE "Sounds\cherrymx-black-pbt\REnter.WAV"
eREnter RCDATA "Sounds\cherrymx-black-pbt\=.WAV"
remain WAVE "Sounds\cherrymx-black-pbt\rem.WAV"
