Esc WAVE "Sounds\cherrymx-black-abs\Esc.WAV"
sF1 WAVE "Sounds\cherrymx-black-abs\F1.WAV"
sF2 WAVE "Sounds\cherrymx-black-abs\F2.WAV"
sF3 WAVE "Sounds\cherrymx-black-abs\F3.WAV"
sF4 WAVE "Sounds\cherrymx-black-abs\F4.WAV"
sF5 WAVE "Sounds\cherrymx-black-abs\F5.WAV"
sF6 WAVE "Sounds\cherrymx-black-abs\F6.WAV"
sF7 WAVE "Sounds\cherrymx-black-abs\F7.WAV"
sF8 WAVE "Sounds\cherrymx-black-abs\F8.WAV"
sF9 WAVE "Sounds\cherrymx-black-abs\F9.WAV"
sF10 WAVE "Sounds\cherrymx-black-abs\F10.WAV"
sF11 WAVE "Sounds\cherrymx-black-abs\F11.WAV"
sF12 WAVE "Sounds\cherrymx-black-abs\F12.WAV"
sScroll Lock WAVE "Sounds\cherrymx-black-abs\Scroll Lock.WAV"
sPause Break WAVE "Sounds\cherrymx-black-abs\Pause Break.WAV"
s1 WAVE "Sounds\cherrymx-black-abs\1.WAV"
s2 WAVE "Sounds\cherrymx-black-abs\2.WAV"
s3 WAVE "Sounds\cherrymx-black-abs\3.WAV"
s4 WAVE "Sounds\cherrymx-black-abs\4.WAV"
s5 WAVE "Sounds\cherrymx-black-abs\5.WAV"
s6 WAVE "Sounds\cherrymx-black-abs\6.WAV"
s7 WAVE "Sounds\cherrymx-black-abs\7.WAV"
s8 WAVE "Sounds\cherrymx-black-abs\8.WAV"
s9 WAVE "Sounds\cherrymx-black-abs\9.WAV"
s0 WAVE "Sounds\cherrymx-black-abs\0.WAV"
sBackspace WAVE "Sounds\cherrymx-black-abs\Backspace.WAV"
sInsert WAVE "Sounds\cherrymx-black-abs\Insert.WAV"
sHome WAVE "Sounds\cherrymx-black-abs\Home.WAV"
sPage Up WAVE "Sounds\cherrymx-black-abs\Page Up.WAV"
sTab WAVE "Sounds\cherrymx-black-abs\Tab.WAV"
sQ WAVE "Sounds\cherrymx-black-abs\Q.WAV"
sW WAVE "Sounds\cherrymx-black-abs\W.WAV"
sE WAVE "Sounds\cherrymx-black-abs\E.WAV"
sR WAVE "Sounds\cherrymx-black-abs\R.WAV"
sT WAVE "Sounds\cherrymx-black-abs\T.WAV"
sY WAVE "Sounds\cherrymx-black-abs\Y.WAV"
sU WAVE "Sounds\cherrymx-black-abs\U.WAV"
sI WAVE "Sounds\cherrymx-black-abs\I.WAV"
sO WAVE "Sounds\cherrymx-black-abs\O.WAV"
sP WAVE "Sounds\cherrymx-black-abs\P.WAV"
sDelete WAVE "Sounds\cherrymx-black-abs\Delete.WAV"
sEnd WAVE "Sounds\cherrymx-black-abs\End.WAV"
sPage Down WAVE "Sounds\cherrymx-black-abs\Page Down.WAV"
sEnter WAVE "Sounds\cherrymx-black-abs\Enter.WAV"
sCaps Lock WAVE "Sounds\cherrymx-black-abs\Caps Lock.WAV"
sA WAVE "Sounds\cherrymx-black-abs\A.WAV"
sS WAVE "Sounds\cherrymx-black-abs\S.WAV"
sD WAVE "Sounds\cherrymx-black-abs\D.WAV"
sF WAVE "Sounds\cherrymx-black-abs\F.WAV"
sG WAVE "Sounds\cherrymx-black-abs\G.WAV"
sH WAVE "Sounds\cherrymx-black-abs\H.WAV"
sJ WAVE "Sounds\cherrymx-black-abs\J.WAV"
sK WAVE "Sounds\cherrymx-black-abs\K.WAV"
sL WAVE "Sounds\cherrymx-black-abs\L.WAV"
sLShift WAVE "Sounds\cherrymx-black-abs\LShift.WAV"
sZ WAVE "Sounds\cherrymx-black-abs\Z.WAV"
sX WAVE "Sounds\cherrymx-black-abs\X.WAV"
sC WAVE "Sounds\cherrymx-black-abs\C.WAV"
sV WAVE "Sounds\cherrymx-black-abs\V.WAV"
sB WAVE "Sounds\cherrymx-black-abs\B.WAV"
sN WAVE "Sounds\cherrymx-black-abs\N.WAV"
sM WAVE "Sounds\cherrymx-black-abs\M.WAV"
sRShift WAVE "Sounds\cherrymx-black-abs\RShift.WAV"
sUp WAVE "Sounds\cherrymx-black-abs\Up.WAV"
sLCtrl WAVE "Sounds\cherrymx-black-abs\LCtrl.WAV"
sLStart WAVE "Sounds\cherrymx-black-abs\LStart.WAV"
sLAlt WAVE "Sounds\cherrymx-black-abs\LAlt.WAV"
sSpace WAVE "Sounds\cherrymx-black-abs\Space.WAV"
sRAlt WAVE "Sounds\cherrymx-black-abs\RAlt.WAV"
sRStart WAVE "Sounds\cherrymx-black-abs\RStart.WAV"
sMenu WAVE "Sounds\cherrymx-black-abs\Menu.WAV"
sRCtrl WAVE "Sounds\cherrymx-black-abs\RCtrl.WAV"
sLeft WAVE "Sounds\cherrymx-black-abs\Left.WAV"
sDown WAVE "Sounds\cherrymx-black-abs\Down.WAV"
sRight WAVE "Sounds\cherrymx-black-abs\Right.WAV"
sNum Lock WAVE "Sounds\cherrymx-black-abs\Num Lock.WAV"
sNum/ WAVE "Sounds\cherrymx-black-abs\Num/.WAV"
sNum* WAVE "Sounds\cherrymx-black-abs\Num*.WAV"
sNum- WAVE "Sounds\cherrymx-black-abs\Num-.WAV"
sNum7 WAVE "Sounds\cherrymx-black-abs\Num7.WAV"
sNum8 WAVE "Sounds\cherrymx-black-abs\Num8.WAV"
sNum9 WAVE "Sounds\cherrymx-black-abs\Num9.WAV"
sNum4 WAVE "Sounds\cherrymx-black-abs\Num4.WAV"
sNum5 WAVE "Sounds\cherrymx-black-abs\Num5.WAV"
sNum6 WAVE "Sounds\cherrymx-black-abs\Num6.WAV"
sNum1 WAVE "Sounds\cherrymx-black-abs\Num1.WAV"
sNum2 WAVE "Sounds\cherrymx-black-abs\Num2.WAV"
sNum3 WAVE "Sounds\cherrymx-black-abs\Num3.WAV"
sNum0 WAVE "Sounds\cherrymx-black-abs\Num0.WAV"
sNum, WAVE "Sounds\cherrymx-black-abs\Num,.WAV"
sNum+ WAVE "Sounds\cherrymx-black-abs\Num+.WAV"
sREnter WAVE "Sounds\cherrymx-black-abs\REnter.WAV"
